.ld__h2
    font-size: 1.6em
    color: $text-color
    text-align: center
    background-color: $color-blue
    color: white
    margin: 0 0 30px 0
    padding: 5px 0
    opacity: 0.6
    +max-screen(840px)
        margin-bottom: 25px
    +max-screen(650px)
        margin-bottom: 15px
    +max-screen(550px)
        margin-bottom: 10px
.ld__arrow
    width: 30px
    color: $text-color
    &:hover
        color: $color-yellow

