.ld__img
    display: flex
    // background: url(../images/1.jpg) 0px no-repeat
    width: 100%
    // height: 100%
    height: auto
    justify-content: center
    // margin-bottom: -30px
    img
        position: relative
        width: 100%
        height: auto
