.ld__doctors
    display: flex
    width: 100%
    padding: 20px 40px
    flex-wrap: wrap
    +max-screen(480px)
        padding: 20px 20px
    &__wrap
        width: calc(100% - 60px + 10px)
        margin: -5px
        overflow: hidden
        margin-bottom: 10px
    &__list
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        flex-direction: column
        height: 250px
        width: calc(100% + 5px) 
        transition: 0.3s
        
    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: 1px solid $border-color
        width: calc( 33.3% - 10px )
        height: 230px
        border-radius: 4px
        margin: 5px
        overflow: hidden
        +max-screen(740px)
            width: calc(50% - 10px)
        +max-screen(610px)
            width: calc(100% - 10px)
        img
            object-fit: cover
            width: 100%
            height: auto
            max-height: 154px
            margin-bottom: 10px
            opacity: 0.8
        &:hover
            border: 1px solid $color-yellow  
    &__name
        margin-top: 5px
        width: 100%
        text-align: center
        margin-bottom: 5px
        color: $text-color
    &__info
        width: 100%
        text-align: center
        margin-bottom: auto
        color: $text-color
    &__btn
        display: flex
        justify-content: center
        width: 100%
