.ld__address
    display: flex
    flex-direction: column
    width: 100%
    padding: 20px 40px
    &__row
        display: flex
        width: 100%
        margin-left: 40px
        +max-screen(740px)
            flex-wrap: wrap
            margin-left: 0
    &__card
        width: 70%
        height: 430px
        margin-right: 10px
        +max-screen(740px)
            width: 100%
            margin-bottom: 10px
            height: 200px
            margin-right: 0

        iframe
            width: 100%
            height: 100%
            border-radius: 4px
            border: 1px solid $border-color
        // +max-screen(440px)
        //     width: calc(100% - 10px)
    &__list
        width: 50%
        +max-screen(740px)
            width: 100%
    &__line
        height: 1px
        background-color: $border-color
        width: 100px
        margin-bottom: 18px
.ld__contacts
    display: flex
    flex-direction: column
    color: $text-color
    span
        margin-bottom: 3px
    // &__address
    // &__phone
    // &__mail
    // &__time

