.ld__directions
    display: flex
    width: 100%
    padding: 20px 40px
    flex-wrap: wrap
    +max-screen(480px)
        padding: 20px 20px
    &__wrap
        width: calc(100% - 60px + 10px)
        margin: -5px
        overflow: hidden
    &__list
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        flex-direction: column
        height: 154px
        transition: 0.3s
        +max-screen(740px)
            width: calc(100% + 5px)
    &__item
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid $border-color
        height: 154px
        width: calc(25% - 10px)
        border-radius: 4px
        position: relative
        margin: 5px
        &:hover
            border: 1px solid $color-yellow
        +max-screen(740px)
            width: calc(50% - 10px)
        +max-screen(440px)
            width: calc(100% - 10px)
    &__img
        // background-image: url('../images/therapy.jpg')
        position: absolute
        left: 0px
        right: 0px
        top: 0px
        bottom: 0px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        opacity: 0.3
    &__name
        position: relative
        z-index: 1
        font-size: 1.5em
        color: $text-color
    &__btn
        display: flex
        justify-content: center
        width: 100%
        margin-top: 30px
