.ld__sale
    display: flex
    width: 100%
    padding: 20px 40px
    flex-wrap: wrap
    height: auto
    +max-screen(480px)
        padding: 20px 20px
    &__wrap
        width: calc(100% - 60px + 10px)
        margin: -5px
        overflow: hidden
        margin-bottom: 10px

    &__list
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        flex-direction: column
        transition: 0.3s
        height: 270px
        
        width: calc(100% + 5px)
        +max-screen(480px)
            height: 250px
        +max-screen(380px)
            height: 300px
    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: 1px solid $border-color
        width: calc(33.3% - 10px)
        border-radius: 4px
        margin: 5px
        +max-screen(1015px)
            width: calc(50% - 10px)
        +max-screen(610px)
            width: calc(100% - 10px)
        &:hover
            border: 1px solid $color-yellow  
            img
                opacity: 0.8
        img
            width: 100%
            height: auto
            max-height: 154px
            opacity: 0.3
            object-fit: cover
    &__name
        margin-top: 5px
        width: 100%
        text-align: center
        margin-bottom: auto
        color: $text-color
        font-size: 1.4em
    &__info
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
        color: $text-color
        margin-bottom: 5px
        padding: 5px
    &__time
        margin-top: 12px
        // margin-left: 5px
        width: 70%
        text-align: left
        font-size: 0.9em
        color: $text-color
        +max-screen(380px)
            width: 100%
            text-align: center
    &__cost
        margin-top: 5px
        // margin-right: 5px
        text-align: center
        color: $text-color
        font-size: 1.3em
        +max-screen(380px)
            width: 100%
            text-align: center
    &__btn
        display: flex
        justify-content: center
        width: 100%
        // margin-top: auto
