.ld__about-us
    display: flex
    flex-direction: column
    width: 100%
    padding: 20px 40px
    &__items
        display: flex
        flex-wrap: wrap
    &__item
        width: 25%
        display: flex
        flex-direction: column
        align-items: center
        +max-screen(740px)
            width: 50%
            margin-bottom: 10px
        +max-screen(440px)
            width: 100%
            margin-bottom: 10px
        span, h3
            color: $text-color
            text-align: center
        svg, img
            width: 100px
            height: 100px
            margin-bottom: 10px
            color: $color-blue
        h3
            font-size: 1.1em
            margin-bottom: 5px
            font-weight: bold
        span 
            font-size: 0.9em
        