.app
    display: flex
    flex-wrap: wrap
    color: $text-color
    width: 100%
    padding: 10px
    &__col-1
        display: flex
        flex-direction: column
        // flex-wrap: wrap
        align-items: flex-start
        width: calc( 30% - 10px )
        margin-right: 10px
        .row
            display: flex
            width: 100%
            justify-content: left
            align-items: center
            margin-bottom: 10px
            input
                height: 20px
                width: 20px
                margin-bottom: 0
            label
                margin-bottom: 2px
                margin-left: 5px
        +max-screen(800px)
            width: calc( 45% - 10px )
        +max-screen(600px)
            width: calc( 55% - 10px )
        +max-screen(470px)
            width: 100%
            margin-right: 0
    &__col-2
        display: flex
        flex-direction: column
        align-items: flex-start
        // width: calc( 50% - 10px )
        width: 70%
        .row
            display: flex
            flex-wrap: wrap
            width: 100%
            .col
                width: 50%
                +max-screen(800px)
                    width: 100%
                &:first-child
                    padding-right: 10px
                    +max-screen(800px)
                        padding-right: 0

        +max-screen(800px)
            width: 55%
        +max-screen(600px)
            width: 45%
        +max-screen(470px)
            width: 100%

    label
        width: 100%
        font-weight: bold
    input, select
        width: 100%
        margin-bottom: 10px
    &__select-services
        display: flex
        flex-direction: column
        min-height: 30px
        width: 100%
        padding: 5px
        border: 1px solid $border-color
        border-radius: 4px
        font-size: 1em
        margin-bottom: 10px
        svg
            width: 20px
            height: 20px
            margin-left: auto
            color: $color-orange
            &:hover
                color: $color-yellow
    &__add-pets
        display: flex
        align-items: center
        justify-content: center
        min-height: 30px
        width: 100%
        border: 1px solid $color-yellow
        border-radius: 4px
        background-color: $color-yellow
        color: white
        &:hover
            background-color: white
            color: $color-yellow

    &__time
        display: flex
        flex-wrap: wrap
        width: 100%
        border-top: 1px solid $border-color
        border-left: 1px solid $border-color
        overflow: hidden
        // border: 1px solid $border-color
        border-radius: 4px
        margin-bottom: 10px
        .cell
            position: relative
            text-align: center
            width: calc( 100% / 10)
            height: 30px
            padding: 5px
            border-right: 1px solid $border-color
            border-bottom: 1px solid $border-color
            &:hover
                color: white
                .cell-bg
                    background-color: $color-yellow
            +max-screen(1230px)
                width: calc( 100% / 7)
            +max-screen(680px)
                width: calc( 100% / 5)
            +max-screen(680px)
                width: calc( 100% / 4)

            input
                opacity: 0
                width: 1px
                height: 1px
                visibility: hidden
                position: absolute
                &:checked + .cell-bg
                    background-color: $color-yellow
                    color: white

                    
            .cell-bg
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: -1
                text-align: center
                padding: 5px
        // .empty
        //     &:hover
        //         background-color: white
    // &__cost
    //     width: auto
    //     margin-right: auto
    &__col-3
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
        .col
            width: 30%
            // padding-right: 10px
    &__btn
        display: flex
        justify-content: flex-end
        align-items: flex-end
        width: 70%
        +max-screen(800px)
            width: 55%
        +max-screen(600px)
            width: 100%
        +max-screen(330px)
            flex-wrap: wrap
        button
            height: 30px
            margin-bottom: 10px
            +max-screen(330px)
                width: 100%

        // width: 100%
        // padding: 10px 0
