.btn__max-yellow, .btn__min-yellow
    display: flex
    align-items: center
    justify-content: center
    width: auto
    min-width: 150px
    height: 30px
    padding: 0 10px 
    border: 1px solid $color-yellow
    border-radius: 4px
    background-color: $color-yellow
    color: #FFFFFF
    white-space: pre
    &:hover
        background-color: white
        border: 1px solid $color-yellow
        color: $color-yellow
        
.btn__max-yellow
    font-size: 1em
.btn__min-yellow
    font-size: 0.85em

.btn__max-orange, .btn__min-orange
    display: flex
    align-items: center
    justify-content: center
    min-width: 150px
    width: auto
    height: 30px
    padding: 0 10px
    background-color: $color-orange
    border-radius: 4px
    border: 1px solid $color-orange
    color: #FFFFFF
    white-space: pre
    &:hover
        background-color: white
        border: 1px solid $color-orange
        color: $color-orange
.btn__max-orange
    font-size: 1em
.btn__min-orange
    font-size: 0.85em

.btn__min-blue
    display: flex
    align-items: center
    justify-content: center
    width: auto
    height: 30px
    padding: 0 10px
    background-color: $color-blue
    border-radius: 4px
    border: 1px solid $color-blue
    color: #FFFFFF
    white-space: pre
    &:hover
        background-color: white
        border: 1px solid $color-blue
        color: $color-blue

.btn__min-blue
    font-size: 0.8em
