.content-title
    display: flex
    justify-content: center
    flex-direction: column
    height: 80px
    padding: 10px 0 10px 10px
    border-bottom: 1px solid $border-color
    color: $text-color
    +max-screen(780px)
        height: auto
        font-size: 0.9em
    &.adm
        +max-screen(860px)
            height: auto
            font-size: 0.9em

    &.no-sub-menu
        padding-left: 210px
        +max-screen(780px)
            height: 80px
            padding-left: 10px
        &.adm
            +max-screen(860px)
                height: 80px
                padding-left: 10px

    &__title
        width: 100%
        font-weight: bold
    &__crumbs
        color: $text-color
        margin-bottom: 5px
        // img
        //     width: 10px
        //     margin-top: auto
    &__link
        font-size: 0.85em
        // max-width: 100px
        // overflow: hidden
        // text-overflow: ellipsis
        // white-space: pre
        // span
        //     max-width: 100px
        //     overflow: hidden

        &:hover
            color: $color-yellow
    &__img
        width: 8px
        height: 8px
    &__text
        font-size: 0.85em
        // span
        //     white-space: pre
        //     max-width: 100px
        //     width: 100px
        //     overflow: hidden
        //     text-overflow: ellipsis
