.doc-list
    display: flex
    flex-wrap: wrap
    width: 100%
    color: $text-color
    padding: 0 10px 0 10px
    &__item
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        border: 1px solid $border-color
        border-radius: 4px
        padding: 10px
        margin-bottom: 10px
    &__col-1
        width: 40%
        display: flex
        flex-direction: column
        +max-screen(1000px)
            width: 100%
    &__img
        margin-top: 5px
        margin-bottom: 10px
        display: flex
        justify-content: center
        img
            height: 200px
            width: 100%
            border-radius: 4px
            object-fit: cover
    &__name
        text-align: center
        font-size: 1em
    &__position
        text-align: center
        opacity: 0.8
        font-size: 0.9em
    &__info
        margin-top: 10px
        text-align: center
    &__col-2
        width: 60%
        display: flex
        +max-screen(1000px)
            width: 100%
            margin-top: 10px
    &__wrap
        width: calc(100% - 40px)
        overflow: hidden
        +max-screen(460px)
            width: calc(100% - 30px)
    &__reviews
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        flex-direction: column
        width: 100%
        transition: 0.3s
        height: 382px
        img
            +max-screen(460px)
                width: 80px
        .card-reviews__item
            width: calc(100% - 10px)
            margin: 5px
    &__arrow
        color: $text-color
        width: 20px
        &:hover
            color: $color-yellow
        +max-screen(460px)
            width: 15px
    &__btn
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
        margin-top: 10px
        +max-screen(880px)
            width: 100%
        .two
            +max-screen(880px)
                margin-bottom: 10px
        button, a
            text-align: center
            width: 200px
            +max-screen(880px)
                width: 100%
