.filter
    display: flex
    flex-wrap: wrap
    border: 1px solid $border-color
    border-radius: 4px
    width: calc( 100% - 20px )
    margin: 10px
    padding: 5px
    color: $text-color
    .col
        width: 50%
        max-width: 50%
        padding: 5px
        +max-screen(900px)
            width: 100%
            max-width: 100%
        h4
            font-weight: bold
            margin-bottom: 2px
        [type="date"], [type="time"]
            border: 1px solid $border-color
            border-radius: 4px
            font-size: 0.85em
            padding: 5px
            height: 30px
        [type="date"]
            width: 150px
    &__list
        border: 1px solid $border-color
        border-radius: 4px
        max-height: 220px
        overflow: auto
    &__item
        display: flex
        border-bottom: 1px solid $border-color
        &:first-child
            position: sticky
            top: 0
            background-color: white
            font-size: 0.85em
        &:last-child
            border-bottom: none
        h5
            font-weight: bold
        span
            overflow: hidden
            text-overflow: ellipsis
            white-space: pre
        .col-1
            display: flex
            align-items: center
            padding: 5px
            width: calc( 100% - 55px )

        .col-2
            display: flex
            justify-content: center
            align-items: center
            // width: 15%
            min-width: 55px
            width: 55px
            padding: 5px
    &__btn
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        padding: 5px
        a
            height: 30px
            +max-screen(350px)
                width: 100%
            &:first-child
                +max-screen(350px)
                    margin-bottom: 10px