.footer
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    width: 100%
    height: 120px
    border-top: 1px solid $border-color
    padding: 10px
    +max-screen(570px)
        justify-content: flex-start
    &__logo
        display: flex
        justify-content: center
        width: 200px
        height: 100px
        +max-screen(420px)
            width: 120px
        img
            height: 100%
    &__menu
        display: flex
        flex-wrap: wrap
        width: 200px
        +max-screen(570px)
            width: 50%
        a
            width: 50%
            white-space: pre
            color: $text-color
            &:hover
                color: $color-yellow
    &__contacts
        display: flex
        flex-direction: column
        margin-left: auto
        justify-content: flex-end
        padding: 10px
        color: $text-color
        +max-screen(570px)
            width: 100%
            justify-content: center
            // flex-direction: row
        a
            text-align: center
            +max-screen(570px)
                width: calc( 100% - 10px)
                padding-top: auto
    &__soc
        display: flex
        justify-content: center
        padding: 10px
        color: white
        +max-screen(570px)
            width: calc( 100% - 10px)
        svg
            border: 1px solid $color-yellow
            background-color: $color-yellow
            border-radius: 4px
            margin-left: 10px
            height: 30px
            width: 30px
            &:hover
                color: $color-yellow
                background-color: white

