input, select, textarea
    border: 1px solid $border-color
    border-radius: 4px
    font-size: 0.9em
    color: $text-color
    padding: 5px

textarea
    &:hover
        border: 1px solid $color-yellow
    &:read-only
        &:hover
            border: 1px solid $border-color

input
    &:read-only
        background-color: $border-color
        &:hover
            border: 1px solid $border-color

input, select
    height: 30px
    &:hover
        border: 1px solid $color-yellow
[type="radio"], [type="checkbox"]
    margin-right: 5px
label
    color: $text-color