.header
    display: flex
    width: 100%
    height: 100px
    min-height: 100px
    background-color: white
    padding-right: 10px
    +max-screen(780px)
        height: 50px
        min-height: 50px
    &.adm
        +max-screen(860px)
            height: 50px
            min-height: 50px
    &__logo
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        min-width: 200px
        height: 100px
        +max-screen(780px)
            display: none
        &.adm
            +max-screen(860px)
                display: none
        img
            height: 100%
    .ld_logo
        background: linear-gradient(to top, #f7fbfe, white)
    &__rows
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
    &__row
        display: flex
        width: 100%
        height: 100%
        flex-wrap: wrap
        &:last-child
            +max-screen(780px)
                height: 0
            &.adm
                +max-screen(860px)
                    height: 0
    &__col
        display: flex
        align-items: flex-start
        width: 50%
        height: 100%
        padding: 10px
        &--rigth
            justify-content: flex-end
            padding-right: 0
            +max-screen(780px)
                width: 100%
            &.adm
                +max-screen(860px)
                    width: 100%
        &--left
            +max-screen(780px)
                display: none
            &.adm
                +max-screen(860px)
                    display: none    
    &__soc, &__user
        height: 30px
        width: 30px
        margin-right: 10px
        background-color: $color-yellow
        border-radius: 4px
        color: white
        border: 1px solid $color-yellow
        // margin-top: 4px
        &:hover
            color: $color-yellow
            background-color: white
        svg
            width: 100%
    &__tel
        margin-right: 10px
        white-space: pre
        color: $text-color
        margin-top: 5px
    &__city
        margin-right: 10px
        color: $text-color
        margin-top: 5px
    
    &__menu
        margin-right: 10px
    &__i-menu
        height: 30px
        width: 30px
        color: $border-color
        transform: scale(0)
        +max-screen(780px)
            transform: scale(1)
        &.adm
            +max-screen(860px)
                transform: scale(1)
    .show-menu
        svg
            color: $color-yellow
    
    &__min-logo
        transform: scale(0)
        margin-right: auto
        +max-screen(780px)
            transform: scale(1)
        +min-screen(780px)
            transform: scale(0)
        &.adm
            +max-screen(860px)
                transform: scale(1)
            +min-screen(860px)
                transform: scale(0)
        img
            width: 30px
