.list
    display: flex
    flex-direction: column
    width: 100%
    &__item
        display: flex
        justify-content: space-between
        border: 1px solid $border-color
        margin: 0px 10px 10px
        padding: 5px
        border-radius: 4px
        color: $text-color
        width: calc( 100% - 20px )
        font-size: 1em
        &:hover
            border: 1px solid $color-yellow
        +max-screen(880px)
            font-size: 0.85em
    .card
        color: $text-color
        margin: 0px 10px 10px
        .card-header
            padding: 0
        .card-body
            padding: 0
            display: flex
            

    &__description
        display: flex
        flex-direction: column
        justify-content: center
    &__id
        display: flex
        flex-wrap: wrap
        .id
            opacity: 0.7
            font-size: 0.85em
            margin-bottom: 5px
        .name
            width: 100%
            padding-right: 5px
            margin-bottom: 5px
        .date
            width: 100%
            opacity: 0.7
            font-size: 0.85em

    &__cost
        display: flex
        align-items: center
        min-width: 100px
        font-size: 1em
        // margin-left: auto
        text-align: left
        white-space: nowrap
        +max-screen(880px)
            font-size: 0.85em
            min-width: 70px
    &__person
        display: flex
        flex-wrap: wrap
        width: 100%
        .id, .last-visit, .state
            width: 100%
            opacity: 0.7
            font-size: 0.85em
        .id
            margin-bottom: 5px
        .last-visit, .state
            margin-top: 5px
        .name
            width: 50%
            +max-screen(490px)
                width: 100%
                margin-bottom: 5px

        .tel
            width: 25%
            +max-screen(700px)
                margin-right: 10px
                width: 25%
            +max-screen(490px)
                width: 50%
        .pets, .position
            width: 25%
            +max-screen(700px)
                width: calc( 25% - 10px )
            +max-screen(490px)
                width: calc( 50% - 10px )
                text-align: right   
    &__visit
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        &:hover
            border: 1px solid $border-color
        .row
            display: flex
            width: calc( 100% / 3 )
            margin-bottom: 5px
            h4, span
                font-size: 0.95em
            h4
                margin-right: 5px
                font-weight: bold
            +max-screen(600px)
                width: 50%
        a
            &:hover
                color: $color-yellow
