.m-sub-menu
    display: flex
    justify-content: flex-start
    width: 100%
    padding-top: 5px
    &__btn
        font-size: 0.85em
        padding: 3px 15px 3px 15px 
        height: 30px
        border-radius: 4px
        background-color: white
        border: 1px solid $color-yellow
        color: $color-yellow
        width: auto
        +min-screen(780px)
            display: none
        &.adm
            +max-screen(860px)
                display: none
    &__close
        +min-screen(780px)
            display: none
        &.adm
            +max-screen(860px)
                display: none
        svg
            width: 30px
            height: 30px
            color: $color-orange    
            
