.main-menu
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    border-radius: 4px
    overflow: hidden
    // padding: 0 10px 0 10px
    +max-screen(780px)
        position: fixed
        top: 50px
        left: 0
        justify-content: flex-start
        flex-direction: column
        overflow: auto
        background-color: white
        transition: 0.3s
        &.adm
            +max-screen(860px)
                position: fixed
                top: 50px
                left: 0
                justify-content: flex-start
                flex-direction: column
                overflow: auto
                background-color: white
                transition: 0.3s
        &.hide
            height: 0
            opacity: 0
            visibility: hidden
            pointer-events: none
        &.show
            height: calc( 100% - 49px )
            opacity: 1
            visibility: visible

    &__link
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        width: 100%
        white-space: pre
        background-color: $color-blue
        border: 1px solid $color-blue   
        opacity: 0.78
        color: white
        padding: 0 10px
        +max-screen(780px)
            opacity: 1
            height: 50px
        &.adm
            +max-screen(860px)
                opacity: 1
                height: 50px
        &:hover
            background-color: white
            border: 1px solid $color-blue
            color: $color-blue
        &.last
            padding: 0 20px
            +max-screen(800px)
               padding: 0 10px 

    &__mobil-row
        margin-top: auto
        margin-bottom: 10px
        display: flex
        justify-content: flex-start       
    &__mobil
        display: none
        +max-screen(780px)
            display: flex
        &.adm
            +max-screen(860px)
                display: flex


    