.modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0,0,0,0.5)
    z-index: 1050
    opacity: 0
    -webkit-transition: opacity 200ms ease-in
    -moz-transition: opacity 200ms ease-in
    transition: opacity 200ms ease-in
    pointer-events: none
    margin: 0
    padding: 0

    &:target
        opacity: 1
        pointer-events: auto
        overflow-y: auto

    &__content
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        padding: 20px
        img
            max-width: 100%
            max-height: 100%
    &__close
        position: absolute
        top: 0
        right: 0
        margin: 20px
        float: right
        font-family: sans-serif
        font-size: 3em
        font-weight: 700
        line-height: 1
        color: white
        text-shadow: 0 1px 0 #fff
        opacity: .5
        text-decoration: none
        &:focus, &:hover
            color: #000
            text-decoration: none
            cursor: pointer
            opacity: .75
