.page
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    width: 100%
    max-width: 1120px
    height: 100%
    // text-decoration: none
    &__header
        flex-grow: 0
        position: sticky
        z-index: 10
        top: 0
    &__footer
        flex-grow: 0
    &__body
        display: flex
        flex-grow: 1
        width: 100%
        color: $text-color
        // margin: auto
    &__sub-menu
        width: 200px
        min-width: 200px
        +max-screen(780px)
            position: fixed
            bottom: 0
            left: 0
            justify-content: flex-start
            flex-direction: column
            overflow: auto
            background-color: white
            transition: 0.3s
            height: 100%
            &.hide
                width: 0
                opacity: 0
                visibility: hidden
                pointer-events: none
            &.show
                width: 100%
                opacity: 1
                visibility: visible
                z-index: 12
        &.adm
            +max-screen(860px)
                position: fixed
                bottom: 0
                left: 0
                justify-content: flex-start
                flex-direction: column
                overflow: auto
                background-color: white
                transition: 0.3s
                height: 100%
                &.hide
                    width: 0
                    opacity: 0
                    visibility: hidden
                    pointer-events: none
                &.show
                    width: 100%
                    opacity: 1
                    visibility: visible
                    z-index: 12

    &__content
        width: 100%
    // &__sub-menu + .page__content
    //     width: 
    a
        &:hover
            text-decoration: none
        
    