.pagination
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 10px
    color: $text-color
    a
        font-size: 0.9em
        border-radius: 4px
        float: left
        padding: 5px 12px
        text-decoration: none
        margin: 0 2.5px
        &:hover:not(.pagination__active)
            background-color: #ddd
    &__active
        background-color: $color-yellow
        color: white

