.planer
    position: relative
    width: 100%
    padding: 10px

.planer-select
    display: flex
    align-items: flex-start
    justify-content: center
    margin-bottom: 10px
    span
        color: $text-color
        font-size: 1em
        margin: 0 2.5px
    svg
        height: 20px
        width: 20px
        color: $border-color
        &:hover
            color: $color-yellow

.planer-grid
    display: flex
    width: 100%
    border: 1px solid $border-color
    border-radius: 4px
    font-size: 0.85em
    color: $text-color
    overflow: hidden
    &__col
        width: 100%
        border-right: 1px solid $border-color
        &:last-child
            border-right: none
        &.time
            width: 50px
            min-width: 50px
        .cell
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 25px
            padding: 5px
            border-bottom: 1px solid $border-color
            &.weekend
                color: white
                background-color: orange
            &:last-child
                border-bottom: none
    &__task
        position: relative
        width: 100%

.planer-task
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 5px
    background-color: $color-green
    color: white
    border: 1px solid $border-color
    font-size: 0.9em
    // overflow: hidden
    // text-overflow: ellipsis
    text-align: left
    word-wrap: break-word

.planer-filter
    width: 100%