.review-form
    display: flex
    justify-content: center
    width: 100%
    padding: 20px
    form
        display: flex
        flex-direction: column
        color: $text-color
        width: auto
        border: 1px solid $border-color
        border-radius: 4px
        padding: 20px 15px 20px 20px
        label
            width: calc(100% - 5px)
        input, select, textarea
            margin-bottom: 5px
            width: 250px
            &:hover
                border: 1px solid $color-yellow
        .radio
            width: 16px
            height: 16px
            border-radius: 10px
            margin-bottom: 0
            // padding-top: 4px

        .r-radio
            display: flex
            flex-wrap: wrap
            margin-bottom: 10px
            label 
                width: 100%
        textarea
            height: 100px
            resize: none
        button
            display: flex
            align-items: center
            justify-content: center
            margin-top: 5px
            font-size: 1em
            padding: 1px 10px
            height: 30px
            width: calc(100% - 5px)
            border-radius: 4px
            background-color: $color-yellow
            border: 1px solid $color-yellow
            color: #FFFFFF
            &:hover
                background-color: white
                border: 1px solid $color-yellow
                color: $color-yellow
        span 
            text-align: center
    .link
        font-size: 0.85em
        margin-bottom: 5px
    &__row
        display: flex
        align-items: flex-end
        margin-top: 5px
        width: calc(100% - 5px)
        input
            margin-right: 5px
            
            &:hover
                border: 1px solid $color-yellow
        label
            margin-bottom: -4px
    &__stars
        display: flex
        justify-content: space-between
        padding: 10px 10px 10px 0
        width: 100%
        svg
            width: 20px
            height: 20px
            color: $border-color
            &:hover
                color: $color-yellow
        .rating
            display: flex
            justify-content: space-between
            margin-left: auto
            margin-right: auto
            width: 100%
            height: 2em
            flex-direction: row-reverse
            background-size: 2em auto
            .star
                top: 0
                left: 0
                width: 2em
                height: 2em
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                border-radius: 0px
                border: none
                font-size: inherit
                margin: 0
                padding: 0
                background-image: url(/static/images/star-empty.svg)
                &:checked ~ *, &:checked
                    background-image: url(/static/images/star-full.svg)         
                &:hover ~ *, &:hover
                    background-image: url(/static/images/star-full.svg)         
        
            

          


            
            


