.schedule
    width: 100%
    padding: 10px

.schedule-grid
    display: flex
    flex-direction: column
    width: 100%
    border-top: 1px solid $border-color
    border-left: 1px solid $border-color
    border-radius: 4px
    font-size: 0.85em
    color: $text-color
    overflow: hidden
    +max-screen(600px)
        flex-direction: row
    &__top
        display: flex
        width: 100%
        background-color: white
        .cell
            display: flex
            justify-content: center
            font-weight: bold
        +max-screen(600px)
            display: none

    &__body
        display: flex
        flex-wrap: wrap
        width: 100%

    .cell
        display: flex
        align-items: center
        width: calc( 100% / 7 )
        height: 35px
        padding: 5px
        border-right: 1px solid $border-color
        border-bottom: 1px solid $border-color
        &.empty
            background-color: white
            +max-screen(600px)
                display: none
        &.weekend
            background-color: white
        span
            color: white
        +max-screen(600px)
            width: 70%
        +screen(600px, 1035px)
            font-size: 0.85em

        &__dom
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            margin-right: 5px
            font-weight: bold
            border: 1px solid $border-color
            border-radius: 4px
            min-width: 25px
            min-height: 25px
            background-color: white

        &__content
            width: calc( 100% - 25px )

        &__time
            white-space: pre
            text-align: center
            width: 100%
            color: white
        &__weekName
            display: flex
            justify-content: center
            font-weight: bold
            +min-screen(600px)
                display: none
            +max-screen(600px)
                width: 30%

.schedule-select
    display: flex
    align-items: flex-start
    justify-content: center
    margin-bottom: 10px
    span
        color: $text-color
        font-size: 1em
        margin: 0 2.5px
    svg
        height: 20px
        width: 20px
        color: $border-color
        &:hover
            color: $color-yellow

.schedule-filials
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: 10px 10px 10px 0
    &__row
        display: flex
        color: $text-color
        width: 50%
        &:last-child
            border-bottom: none
        span
            margin: 5px
        .color
            width: 22px
            margin: 5px
            border: 1px solid $border-color
        +max-screen(500px)
            width: 100%

.green
    background-color: $color-green
.blue
    background-color: $color-blue
.orange
    background-color: $color-orange
.yellow
    background-color: $color-yellow
