.search-row
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    padding: 10px 10px 20px 10px
    &__btn
        margin-left: 10px
        +max-screen(400px)
            width: 100%
            margin-top: auto
            margin-left: 0
        .btn__min-yellow
            height: 30px

.search
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 30px
    overflow: hidden
    border: 1px solid $color-blue
    border-radius: 4px
    font-size: 0.9em
    +max-screen(400px)
        width: 100%
        margin-bottom: 10px
    input
        &:hover
                border: none
   
    &.btn-in-search
        width: calc( 100% - 160px )
        +max-screen(400px)
            width: 100%
            margin-bottom: 10px
       
    // &.sorting-in-search
    //     width: 100%
    //     +max-screen(400px)
    //         width: 100%
    //         margin-bottom: 10px
    //     .search-row
    //         width: 50%

    &:hover
        border: 1px solid $color-yellow
        .search__button
            background-color: $color-yellow
        .search__img
            color: $color-yellow
    &__label
        display: flex
        align-items: center
        height: 100%
    &__img
        margin-left: 3px
        height: 20px
        svg
            color: $color-blue
            width: 20px
            height: 20px
    &__input
        border: none
        width: 100%
        height: 100%
        padding-left: 10px
    &__button
        display: flex
        align-items: center
        background-color: $color-blue
        // height: calc( 100% - 1px )
        svg
            width: 20px
            height: 30px
            // margin: -1px -1px -1px 0
            // margin-top: -2px
            color: white
  


