.search-sorting
    display: flex
    flex-wrap: wrap
    width: 100%
    padding: 10px 10px 20px 10px
    .search
        width: 50%
        +max-screen(630px)
            width: 100%
            margin-bottom: 10px
    +max-screen(630px)
        justify-content: space-between
    &__sort
        display: flex
        flex-wrap: wrap
        align-items: center
        width: calc( 25% - 10px )
        margin-left: 10px
        color: $text-color
        +max-screen(630px)
            width: calc( 50% - 10px )
        label
            margin-bottom: none
            margin-right: 10px
        input
            margin-right: 5px
            &:hover
                border: none
        svg
            width: 20px
            height: 20px
            &:hover
                color: $color-yellow
        // .svg-sort
        //     &:target
        //         transform: rotate(180deg)
    &__btn
        display: flex
        justify-content: flex-end
        width: 25%
        a 
            height: 30px
        +max-screen(630px)
            width: calc( 50% - 10px )
    .row-date
        display: flex
        flex-wrap: wrap
        align-items: center
        width: 100%
        margin-top: 10px
        +max-screen(412px)
            justify-content: space-between
        input
            +max-screen(412px)
                width: calc( 50% - 10px)
        label
            width: 100%
            font-weight: bold
        span
            margin: 5px
