.sub-menu
    width: 100%
    border-right: 1px solid $border-color
    height: 100%
    &__active
        color: $color-orange
    &__title
        display: flex
        justify-content: space-between
        height: 80px
        border-bottom: 1px solid $border-color
        align-items: center
        padding: 35px 10px 14px 10px
        +max-screen(740px)
            padding: 0 10px
            align-items: center
        h2
            color: $text-color
            font-size: 1.2em

    &__subtitle
        display: flex
        align-items: center
        padding: 10px 10px 0 10px
        padding-right: 5px
        color: $text-color
        font-size: 1.1em
        white-space: pre
        &:after
            content: ''
            width: 100%
            height: 1px
            background-color: $border-color
            margin-left: 10px
    &__link
        display: flex
        justify-content: space-between
        border-bottom: 1px solid $border-color
        padding-bottom: 5px
        margin: 10px 10px 0 10px
        color: $text-color
        font-size: 1em
        &:hover
            color: $color-yellow
            img
                color: $color-yellow
    &__img
        margin-top: auto
        margin-bottom: 5px
        width: 10px
        height: 10px
    .row-menu
        display: flex
        width: 100%
        .svg-edit
            width: 18px
            height: 18px
            margin-left: 10px
            margin-top: auto
            margin-bottom: 5px
            color: $text-color
            svg
                width: 18px
                height: 18px
                &:hover
                    color: $color-yellow
        .sub-menu__link
            width: calc( 100% - 30px)
    &__plus
        display: flex
        align-items: center
        // height: 20px
        height: 100%
        margin-left: 10px
        margin-right: auto
        svg
            height: 20px
            width: 20px
            color: $text-color
            &:hover
                color: $color-yellow
            