.con
    width: 100%
    display: flex
    color: $text-color
    padding: 10px
    +max-screen(740px)
        flex-direction: column

    &__item
        display: flex
        flex-wrap: wrap
        margin-bottom: 10px
        h4
            width: 100%
            font-size: 1em
            font-weight: bold
            +max-screen(740px)
                width: auto
                margin-right: 5px
        span, a
            font-size: 0.9em
            +max-screen(740px)
                font-size: 1em
            &:hover
                cursor: text
    &__card
        width: calc(100% - 20px)
        height: 300px
        margin: 0 20px 10px 10px
        iframe
            width: 100%
            height: 100%
            border-radius: 4px
            border: 1px solid $border-color

