.con-all
    display: flex
    flex-wrap: wrap
    width: 100%
    border-bottom: 1px solid $border-color
    color: $text-color
    padding: 10px
    &__row-1
        display: flex
        align-items: center
        width: 60%
        +max-screen(980px)
            width: 100%
        a
            font-size: 1.5em
            margin-left: 20px
            &:hover
                cursor: text
            +max-screen(740px)
                font-size: 1em
                white-space: pre
                
    &__row-2
        display: flex
        align-items: center
        +max-screen(740px)
            margin-top: 5px
        // a
        //     margin-right: 5px
        //     &:hover
        //         color: $color-yellow

    &__soc
        display: flex
        justify-content: center
        align-items: center
        height: 30px
        width: 30px
        background-color: $color-yellow
        color: white
        border: 1px solid $color-yellow
        border-radius: 4px
        margin-top: 5px
        margin: 0 5px
        +max-screen(740px)
            height: 20px
            width: 20px
        &:hover
            color: $color-yellow
            background-color: white
        svg
            height: 30px
            width: 30px



        