.con-form
    display: flex
    flex-wrap: wrap
    border: 1px solid $border-color
    border-radius: 4px
    color: $text-color
    width: calc(100% - 20px)
    flex-wrap: wrap
    padding: 10px
    margin: 10px
    h3
        width: calc(100% - 20px)
        font-size: 1.3em
        margin-bottom: 10px
    &__info
        display: flex
        flex-direction: column
        width: calc(50% - 10px)
        +max-screen(740px)
            width: 100%
    &__name, &__tel, &__mail, &__comment
        border: 1px solid $border-color
        border-radius: 4px
        margin-bottom: 10px
    &__comment
        margin-left: 10px
        width: calc(50% - 10px)
        +max-screen(740px)
            width: 100%
            margin-left: 0
            margin-top: 10px
            height: 60px
    &__btn
        display: flex
        justify-content: flex-end
        width: calc(100% - 10px)
        +max-screen(740px)
            width: 100%
    input, textarea
        padding: 5px 5px
        resize: none 
        &:hover
           border: 1px solid $color-yellow
    input
        height: 30px

        
    



