*, *:after, *:before
    box-sizing: border-box

body, html
    width: 100%
    height: 100%
    padding: 0
    margin: 0

body
    padding-bottom: 1px
    font-family: 'PT Sans', sans-serif

H1, H2, H3, H4, H5, H6, P, A, OL, UL, LI,
INPUT, TEXTAREA, SELECT, BUTTON
    font-family: inherit
    font-weight: inherit
    font-style: inherit
    font-size: 100%
    line-height: normal
    vertical-align: baseline
    text-decoration: none
    color: inherit
    margin: 0
    padding: 0
    resize: none
SELECT
    // -webkit-appearance: none
    outline: none
    // border: none
    border-radius: 0
    background-color: transparent
    &:focus
        outline: none
INPUT
    outline: none
    border-radius: 0
    background-color: transparent
    border: none
TEXTAREA, BUTTON
    -webkit-appearance: none
    outline: none
    border: none
    border-radius: 0
    background-color: transparent
    &:focus
        outline: none

UL, OL
    list-style: none
