.card-title
    display: flex
    flex-direction: column
    border-bottom: 1px solid $border-color
    color: $text-color 
    padding-bottom: 5px
    margin: 5px 10px 10px 10px
    &__title
        font-size: 1.1em
    &__text
        display: flex
        width: 100%
        justify-content: space-between
    &__stars
        height: 30px
        svg
            height: 20px
            width: 20px
            color: $color-yellow
            margin-right: 10px
    &__time
        height: 30px
        font-size: 0.8em
        padding-top: 10px
    &__cost
        font-size: 1.3em
