.card-doctors
    margin-top: 15px
    padding: 0 5px
    h3
        color: $text-color
        font-size: 1.1em
        margin-left: 5px

    &__row
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: 1px solid $border-color
        width: calc( 25% - 10px)
        // height: 265px
        border-radius: 4px
        margin: 5px
        +max-screen(1060px)
            width: calc( 50% - 10px)
        +max-screen(450px)
            width: calc( 100% - 10px)

        img
            object-fit: cover
            border-radius: 4px 4px 0 0
            width: 100%
            height: auto
            max-height: 134px
            margin-bottom: 10px
            opacity: 0.8
        &:hover
            border: 1px solid $color-yellow
    &__btn-visit
        display: flex
        justify-content: center
        width: 100%
        padding-bottom: 10px
        margin-top: 10px
    &__btn-all
        width: 100%
        display: flex
        justify-content: center
        width: 100%
        padding-top: 10px 
        padding-bottom: 10px

