.card-doc-services
    width: 100%
    padding: 10px
    .grid-services
        border: 1px solid $border-color
        border-radius: 4px

        &__row
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            color: $text-color
            padding: 5px
            border-bottom: 1px solid $border-color
            &:last-child
                border-bottom: none
            a
                +max-screen(530px)
                    width: 100%
                    margin-top: 5px