.card-reviews
    width: 100%
    padding: 0 5px 10px 5px
    color: $text-color
    &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 5px
        // .card-reviews__item
        //     margin-bottom: 35px
    &__item
        border: 1px solid $border-color
        height: 265px
        border-radius: 4px
        width: calc( 50% - 10px)
        min-height: 200px
        height: auto
        margin: 5px
        +max-screen(1100px)
            width: 100%
    &__client
        display: flex
        justify-content: flex-start
        height: 100px
        width: 100%
        // margin-bottom: 10px
    &__col-1
        width: 105px
        height: 100px
        padding: 10px
        
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 50px
            background-color: #F2C879
        svg
            width: 100%
            height: 100%
            background-color: #F2C879
            color: white
            border-radius: 50px
            

    &__col-2
        display: flex
        flex-wrap: wrap
        padding: 10px 10px 10px 0
        width: calc( 100% - 80px)
    &__stars
        display: flex
        height: 20px
        width: calc( 100% - 20px )
        margin-bottom: 5px
        svg
            margin-right: 10px
            width: 20px
            color: $color-yellow
    &__name
        width: calc( 100% - 20px )
    select
        max-width: 400px
        height: 30px
        border: 1px solid $border-color
        border-radius: 4px
        margin-bottom: 5px
    &__date
        width: 100%
        opacity: 0.7
        font-size: 0.85em
    &__review-content
        display: flex
        flex-direction: column
        width: 100%
        padding: 0 10px
        .review-row
            display: flex
            align-items: center
            width: 100%
            input
                height: 15px
                width: 15px
                margin-right: 5px
            label
                margin-right: 5px

    &__input
        width: 100%
        border: 1px solid $border-color
        height: auto
        min-height: 50px
        border-radius: 4px
        padding: 5px
        margin: 5px 0 10px 0
        font-size: 0.85em
        &.cropping
            height: 65px
    &__review-text, &__comment-text
        text-align: left
        width: 100%
        
    &__btn-all
        width: 100%
        display: flex
        justify-content: center
        width: 100%

    .card
        width: calc( 100% - 10px )
        margin-top: 10px
        .card-reviews__review-text, .card-reviews__comment-text
            height: auto
            min-height: 50px
    &__button
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin-bottom: 10px
        a, button
            width: 150px
            +max-screen(550px)
                width: 100%
                margin-top: 10px
        .checkbox-row
            display: flex
            align-items: center
            input
                height: 15px
                width: 15px
                margin-right: 5px

    &__screens
        display: flex
        flex-wrap: wrap
        width: 100%
        padding: 0 5px 5px 5px
        .screens__item
            width: calc( 25% - 10px )
            height: 200px
            border: 1px solid $border-color
            border-radius: 4px
            overflow: hidden
            margin: 5px
            &:hover
                border: 1px solid $color-yellow
            +max-screen( 550px )
                width: calc( 50% - 10px )
            +max-screen( 400px )
                width: calc( 100% - 10px )
                height: 300px
            img
                width: 100%
                height: 100%
                object-fit: cover
                opacity: 0.5
                &:hover
                    opacity: 1
