.card-info
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding: 0 10px
    color: $text-color
    &__row
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    &__text
        display: flex
        flex-direction: column

    &__row-doc
        display: flex
        flex-wrap: wrap
        margin-bottom: 10px

    &__avatar
        // width: 30%
        width: 150px
        height: 150px
        margin-right: 10px
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 100px
            background-color: #F2C879

    &__buttons
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin-top: 10px
        +max-screen(780px)
            margin-top: 10px
            padding-left: 0
            width: 100%
        button, a
            +max-screen(530px)
                width: 100%
                margin-bottom: 5px

    &__info
        font-size: 1em
    &__time
        margin-top: 10px
        font-size: 0.8em

        


    

    