.card-visit
    display: flex
    flex-wrap: wrap
    width: 100%
    border: 1px solid $border-color
    border-radius: 4px
    color: $text-color
    padding: 10px
    margin-bottom: 10px
    +max-screen(480px)
        font-size: 0.85em
    &__col-1
        display: flex
        flex-wrap: wrap
        width: 100%
        font-size: 0.95em
    &__row
        display: flex
        flex-wrap: wrap
        margin-bottom: 5px
        width: 25%
        +max-screen(480px)
            width: 50%
        span
            margin-right: 5px
    h4
        font-size: 1em
        margin-right: 5px
        font-weight: bold
        width: 100%
    &__col-2
        display: flex
        flex-wrap: wrap
        width: 100%
        span
            margin-right: 5px

    &__col-3
        margin-top: 10px
        width: 100%
    &__comment
        margin-top: 5px
        border: 1px solid $border-color
        border-radius: 4px
        padding: 5px
        width: 100%
        font-size: 0.85em

