.list-cards
    display: flex
    flex-wrap: wrap
    width: 100%
    padding: 5px
    &__item
        display: flex
        flex-wrap: wrap
        width: calc( 50% - 10px )
        border: 1px solid $border-color
        border-radius: 4px
        margin: 5px
        padding: 10px 10px 0 10px
        +max-screen(550px)
            width: 100%

    &__col-1
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        width: calc( 100% - 110px )
        padding-bottom: 10px
        font-size: 0.9em
        +max-screen(900px)
            width: calc( 100% - 85px )
    &__row
        display: flex
        flex-wrap: wrap
        margin-bottom: 5px
        width: 100%
        +min-screen(780px)
            width: 50%
        .key
            width: 100%
            font-weight: bold
            min-width: 110px
        .value
            word-wrap: break-word

    &__col-2
        display: flex
        padding-left: 10px
        padding-bottom: 10px
    &__avatar
        display: flex
        justify-content: center
        align-items: center
        height: 100px
        width: 100px
        background-color: $color-yellow
        border-radius: 50px
        +max-screen(900px)
            height: 75px
            width: 75px
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 100px
        svg
            width: 100px
            height: 95px 
            color: white
            +max-screen(480px)
                height: 50px
                width: 50px
                margin: 0

    &__btns
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin-top: auto
        a
            text-align: center
            margin-bottom: 10px
            +max-screen(900px)
                width: 100%

    &__btn-add
        display: flex
        justify-content: flex-end
        width: 100%
        padding: 10px 5px 10px 0
