.lk-access
    display: flex
    justify-content: center
    width: 100%
    padding: 20px
    form
        display: flex
        flex-direction: column
        color: $text-color
        border: 1px solid $border-color
        border-radius: 4px
        padding: 20px
        input
            height: 30px
            border: 1px solid $border-color
            border-radius: 4px
            padding: 0 5px 3px 5px
            margin-bottom: 5px
            width: 250px
            &:hover
                border-color: $color-yellow
        button, a
            display: flex
            align-items: center
            justify-content: center
            margin: 5px 0
            font-size: 1em
            padding: 1px 10px
            height: 30px
            border-radius: 4px
            background-color: $color-yellow
            border: 1px solid $color-yellow
            color: #FFFFFF
            width: auto
            &:hover
                background-color: white
                border: 1px solid $color-yellow
                color: $color-yellow
            svg
                margin-left: auto
                width: 25px
                height: 100%
            .last
                height: 16px
                    
        span 
            text-align: center
    a 
        &:hover
                color: $color-yellow
    .link
        font-size: 0.85em
        margin-bottom: 5px


