.lk-his-search
    display: flex
    flex-wrap: wrap
    width: calc(50% - 10px)
    border: 1px solid $color-blue
    border-radius: 4px
    margin: 5px
    padding: 10px 10px 10px 0
    color: $text-color
    +max-screen(480px)
        width: 100%
        section
            font-size: 0.85em
    &__date
        border: 1px solid $color-blue
        border-radius: 4px
        width: 100%
    &__row
        display: flex
        flex-direction: column
        align-items: flex-start
        flex-wrap: wrap
        padding-left: 10px
        width: 65%
        +max-screen(1000px)
            width: 100%
        &:first-child
            width: 35%
            +max-screen(1000px)
                margin-bottom: 10px
                width: 100%
        label
            width: 100%
            +max-screen(480px)
                font-size: 0.85em
        select
            border: 1px solid $color-blue
            border-radius: 4px
            width: 100%
            +max-screen(480px)
                font-size: 0.85em
    &__btn
        display: flex
        justify-content: flex-end
        width: 100%
        margin-top: 10px
        button
            height: 30px
            width: 130px
    select, input
        padding: 5px
        height: 30px
        font-size: 0.9em
        &:hover
            border-color: $color-yellow
