.lk-profile
    display: flex
    flex-wrap: wrap
    width: calc( 100% - 20px )
    padding: 10px 0 10px 10px
    border: 1px solid $border-color
    border-radius: 4px
    margin: 10px
    h4
        font-weight: bold
        min-width: 80px
    &__col-1
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: auto
        min-width: 50%
        span 
            padding-left: 5px

    &__col-2
        display: flex
        margin-right: 10px
        +max-screen(650px)
            height: 100px
            width: 100px
        +max-screen(400px)
            height: 50px
            width: 50px
    &__avatar
        display: flex
        justify-content: center
        align-items: center
        height: 150px
        width: 150px
        background-color: $color-yellow
        border-radius: 100px
        +max-screen(650px)
            height: 100px
            width: 100px
        +max-screen(400px)
            height: 50px
            width: 50px
        img
            // display: none
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 100px

        svg
            width: 90%
            height: 90%
            color: white
            margin-bottom: auto
    &__col-3
        width: 100%
        .lk-profile__row
            width: 100%
    &__col-4
        display: flex
        justify-content: space-between
        width: 100%
        margin-top: 10px
        +max-screen(530px)
            flex-direction: column
            margin-left: 0
        a, button
            height: 30px
            margin-right: 10px
            min-width: 150px
            white-space: pre
            text-align: center
            +max-screen(530px)
                margin-left: 0
                margin-bottom: 10px
    &__row
        display: flex
        color: $text-color
        margin-bottom: 5px
        flex-wrap: wrap
        width: 100%
        input, select, textarea
            width: 100%
        label
            width: 100%
            font-weight: bold
