.pets-list
    display: flex
    flex-wrap: wrap
    width: 100%
    padding: 5px
    &__item
        display: flex
        flex-wrap: wrap
        width: calc( 50% - 10px )
        border: 1px solid $border-color
        border-radius: 4px
        padding: 10px 0 10px 10px
        margin: 5px
        color: $text-color
        +max-screen(550px)
            width: 100%
    .edit
        width: 100%
    &__col
        display: flex
        flex-direction: column
        flex-wrap: wrap
        padding-right: 10px
        +max-screen(480px)
            font-size: 0.85em
    &__row
        width: 100%
        display: flex
        margin-bottom: 5px
        h4 
            margin-right: 5px
        input, select
            min-width: 200px
            margin-left: auto
        label
            padding-top: 3px
            padding-right: 5px

    &__avatar
        height: 100px
        width: 100px
        margin: 5px 5px 15px 5px
        background-color: $color-yellow
        border-radius: 50px
        +max-screen(480px)
            height: 50px
            width: 50px
            margin: 0
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 50px
        svg
            width: 100px
            height: 95px 
            color: white
            +max-screen(480px)
                height: 50px
                width: 50px
                margin: 0
    &__btns
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin-top: 5px
        .btn__min-orange, .btn__min-yellow
            width: 110px
            text-align: center
            margin-right: 10px
            +max-screen(900px)
                width: 100%
                margin-bottom: 10px
    &__btn-add
        display: flex
        justify-content: flex-end
        width: 100%
        padding: 10px 5px 10px 0
    




