.visits-card
    display: flex
    flex-wrap: wrap
    color: $text-color
    padding: 5px
    h3
        margin: 5px
        font-size: 1.1em
        width: 100%
    &__list
        display: flex
        width: 100%
        flex-wrap: wrap
        padding: -10px
    &__item
        width: calc(50% - 10px)
        display: flex
        flex-wrap: wrap
        border-radius: 4px
        border: 1px solid $border-color
        padding: 10px
        margin: 5px
        +max-screen(680px)
            width: 100%

    &__row
        width: 100%
        display: flex
        margin-bottom: 5px

        &__col-1
            display: flex
            flex-wrap: wrap
            width: 40%
            h4
                width: 100%
                margin-bottom: 5px
                font-weight: bold

        &__col-2
            display: flex
            flex-direction: column
            flex-wrap: wrap
            width: 60%
            span 
                width: 100%
                margin-bottom: 5px
    &__btn
        display: flex
        justify-content: space-between
        width: 100%
        a
            width: 130px
            text-align: center