.visits-search
    display: flex
    flex-wrap: wrap
    width: calc(100% - 10px)
    border: 1px solid $color-blue
    border-radius: 4px
    margin: 5px
    padding: 10px 10px 10px 0
    &__date
        width: 100%
        min-width: 125px
        border: 1px solid $color-blue
        border-radius: 4px
        padding: 0 5px
    &__row
        display: flex
        flex-direction: column
        align-items: flex-start
        flex-wrap: wrap
        padding-left: 10px
        width: 27%
        +max-screen(900px)
            width: 50%
        +max-screen(480px)
            width: 100%
        &:first-child
            width: 19%
            +max-screen(900px)
                width: 50%
            +max-screen(480px)
                width: 100%
        label
            width: 100%  
        select
            border: 1px solid $color-blue
            border-radius: 4px
            width: 100%
    &__btn
        display: flex
        justify-content: flex-end
        width: 100%
        margin-top: 5px
        button
            height: 30px
            width: 130px
    select, input
        height: 30px
        font-size: 0.9em
        &:hover
            border-color: $color-yellow

