.adm-h3
    width: 100%
    font-weight: bold
    color: $text-color
    padding-left: 20px
    font-size: 1.1em
.adm-card
    width: calc( 100% - 20px)
    padding: 0 10px 10px 10px
    border: 1px solid $border-color
    border-radius: 4px
    margin: 10px
    color: $text-color
    h3, label
        width: 100%
        font-weight: bold
        margin-top: 10px
        margin-bottom: 5px
    &__container-text
        width: 100%
        max-width: 100%
        padding: 5px
        border: 1px solid $border-color
        border-radius: 4px
        font-size: 0.95em
    .row
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
        .col
            width: 160px
            display: flex
            flex-direction: column
            padding-right: 10px
            white-space: pre
            +max-screen(520px)
                width: 50%
            +max-screen(400px)
                width: 100%
                padding-right: 0
            &:last-child
                margin-right: 0
    .radio-row
        display: flex
        justify-content: flex-start
        align-items: center
        width: 100%
        label
            font-weight: normal  
            margin-top: 0 
            margin-left: 5px

    input, select
        // max-width: 150px
        // min-width: 170px
        +max-screen(400px)
            max-width: 100%
            width: 100%


    &__table
        width: 100%
        border: 1px solid $border-color
        border-radius: 4px
        .item
            display: flex
            align-items: center
            width: 100%
            padding: 5px
            border-bottom: 1px solid $border-color
            &:last-child
                border-bottom: none
            svg
                color: $color-orange
                height: 20px
                width: 20px
                margin: 5px
                &:hover
                    color: $color-yellow
            a 
                width: 100%
                margin: 5px

        select
            max-width: calc( 100% - 10px )
            width: calc( 100% - 10px )
            margin: 5px
    &__btns
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        padding-top: 10px
        padding-left: 20px
        a
            width: 150px
            +max-screen(370px)
                width: 100%
                margin-bottom: 10px
        +max-screen(370px)
            margin-bottom: -10px