.schedule-edit
    display: flex
    flex-wrap: wrap
    padding: 10px
    width: 100%
    color: $text-color
    font-size: 0.9em
    h4
        font-weight: bold
        text-align: center
        width: 100%
    .schedule-select
        width: 100%
    &__table
        display: flex
        flex-wrap: wrap
        width: 100%
        border: 1px solid $border-color
        border-radius: 4px
            
    .row
        display: flex
        width: 100%
        border-bottom: 1px solid $border-color
        &.last
            border-bottom: none
        +max-screen(460px)
            flex-wrap: wrap
    .col-date
        display: flex
        align-items: center
        justify-content: center
        min-width: 49px
        padding: 5px
        border-right: 1px solid $border-color
    .col-type
        display: flex
        align-items: center
        justify-content: center
        min-width: 60px
        padding: 5px
        border-right: 1px solid $border-color
        select
            width: 100%
    .col-time
        display: flex
        align-items: center
        padding: 5px
        min-width: 127px
        border-right: 1px solid $border-color
        span
            padding: 5px
        input
            width: 50px

    .col-filial
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        padding: 5px
        select
            width: 100%

    .col-date, .col-type
        +max-screen(460px)
            width: 25%

    .col-time
        +max-screen(460px)
            width: 50%
            border-right: none

    .row-header
        .col-filial
            +max-screen(460px)
                display: none

   
    &__btn
        display: flex
        justify-content: flex-end
        width: 100%
        padding-top: 10px
