.finance
    display: flex
    flex-wrap: wrap
    width: 100%
    padding: 10px
    color: $text-color
    .row
        display: flex
        align-items: center
        min-width: 100%
        margin-bottom: 5px
        +max-screen(650px)
            flex-wrap: wrap
            margin-bottom: 0
    .row-amount
        display: flex
        align-items: center
        width: 100%
        margin-bottom: 10px
        label
            font-size: 1em
            margin-right: auto
    select
        min-width: 200px
        margin-right: 10px
        +max-screen(650px)
            width: calc( 50% - 10pc )
            margin-bottom: 10px
        +max-screen(440px)
            width: 100%
            margin-right: 0

    [type="date"]
        width: 150px
        +max-screen(440px)
            width: calc( 50% - 8px )

    &__btn
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        margin-top: 5px
        +max-screen(650px)
            margin-top: 10px
            a
                +max-screen(440px)
                    width: calc( 50% - 8px )
                +max-screen(340px)
                    width: 100%
                    margin-top: 10px

            +max-screen(340px)
                margin-top: 0
    h3
        width: 100%
        font-weight: bold
        font-size: 1.1em
        margin: 10px 0 3px 0
    &__table
        width: 100%
        border: 1px solid $border-color
        border-radius: 4px
        overflow: auto
        &-wrap
            min-width: min-content
            width: 100%

    &__item
        display: flex
        width: 100%
        border-bottom: 1px solid $border-color
        font-size: 0.9em
        .col-id
            min-width: 67px
            padding: 5px
            border-right: 1px solid $border-color
        .col-date
            min-width: 80px
            padding: 5px
            border-right: 1px solid $border-color
        .col-name
            width: 100%
            min-width: 250px
            padding: 5px
            border-right: 1px solid $border-color
        .col-money
            min-width: 76px
            padding: 5px
        &.last
            border-bottom: none
    .header-item
        font-weight: bold
