.btp-h4, .btp-label
    width: 100%
    font-weight: bold
.btp-label
    margin-bottom: 0
.icon
    display: flex
    align-items: center
    width: 20px
    svg
        height: 20px
        width: 20px
        &:hover
            color: $color-yellow
.table
    color: $text-color
.row-btn
    display: flex
    justify-content: space-between
    padding: 0 15px
    margin-bottom: 10px
    a
        margin-right: 10px
        +max-screen(550px)
            width: calc( 50% - 10px )
            margin-bottom: 10px
        +max-screen(340px)
            width: 100%    
            margin-right: 0 
            margin-bottom: 10px   
        &:last-child
           margin-right: 0 